Repository thatsamsonkid/agora: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, biome check

fix: oxlint dep
  pnpm-lock.yaml
Due: none

fix: db schema updates
  apps/spar-tan-toe/drizzle/relations.ts
  apps/spar-tan-toe/drizzle/schema.ts
  apps/spar-tan-toe/src/db.ts
  biome.json
Due: oxlint, biome check

fix: adds ngx-sonner to optimize-deps
  apps/spar-tan-toe/vite.config.ts
Due: oxlint, biome check

feat: add zoneless detection
  apps/spar-tan-toe/src/app/app.config.ts
Due: oxlint, biome check

fix: schema update
  apps/spar-tan-toe/drizzle/0000_productive_supreme_intelligence.sql
  apps/spar-tan-toe/drizzle/0000_special_chamber.sql
  apps/spar-tan-toe/drizzle/meta/0000_snapshot.json
  apps/spar-tan-toe/drizzle/meta/_journal.json
Due: oxlint, biome check

feat: commit supasebase migration to new id
  apps/spar-tan-toe/src/db/schema.ts
  libs/spar-tan-toe-db/archive/config.toml
  libs/spar-tan-toe-db/archive/migrations-archive/20240706233439_remote_schema.sql
  libs/spar-tan-toe-db/archive/migrations-archive/20240706233750_link_auth_to_profile.sql
  libs/spar-tan-toe-db/archive/migrations-archive/20240706235045_apply_new_auth_insert_to_profile.sql
  libs/spar-tan-toe-db/supabase/migrations/20241103024251_remote_schema.sql
  libs/spar-tan-toe-db/supabase/seed.sql
Due: oxlint, biome check

progress
  apps/spar-tan-toe/src/app/components/gameboard-cell.component.ts
  apps/spar-tan-toe/src/app/core/components/header.component.ts
  apps/spar-tan-toe/src/app/core/guards/anon-auth.guard.ts
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
  apps/spar-tan-toe/src/app/core/types/game.types.ts
  apps/spar-tan-toe/src/app/pages/(auth).page.ts
  apps/spar-tan-toe/src/app/pages/(auth)/signin.page.ts
  apps/spar-tan-toe/src/app/pages/(home).page.ts
  apps/spar-tan-toe/src/app/pages/game/[gameId].page.ts
  apps/spar-tan-toe/src/db.ts
  apps/spar-tan-toe/src/db/schema.ts
  apps/spar-tan-toe/src/main.ts
  apps/spar-tan-toe/src/server/trpc/context.ts
  apps/spar-tan-toe/src/server/trpc/routers/games.ts
  apps/spar-tan-toe/src/server/trpc/routers/moves.ts
  apps/spar-tan-toe/src/server/trpc/trpc.ts
  apps/spar-tan-toe/tsconfig.app.json
  libs/spar-tan-toe-db/supabase/migrations/20241103070314_remote_schema.sql
  libs/spar-tan-toe-db/supabase/migrations/20241103071611_remote_schema.sql
  libs/spar-tan-toe-db/supabase/migrations/20241103074936_remote_schema.sql
  libs/spar-tan-toe-db/supabase/private-db/private-schema.sql
  libs/supabase/auth/src/lib/auth/google-auth.service.ts
  libs/supabase/auth/src/lib/auth/google-token.ts
  libs/supabase/auth/src/lib/auth/supabase.auth.service.ts
  package.json
  pnpm-lock.yaml
Due: oxlint, biome check

progress
  apps/spar-tan-toe/drizzle.config.ts
  apps/spar-tan-toe/drizzle/0001_bent_lilandra.sql
  apps/spar-tan-toe/drizzle/meta/0001_snapshot.json
  apps/spar-tan-toe/drizzle/meta/_journal.json
  apps/spar-tan-toe/drizzle/relations.ts
  apps/spar-tan-toe/drizzle/schema.ts
  apps/spar-tan-toe/env-sample.env
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
  apps/spar-tan-toe/src/app/core/services/supabase.token.ts
  apps/spar-tan-toe/src/app/core/types/game.types.ts
  apps/spar-tan-toe/src/app/pages/game/[gameId].page.ts
  apps/spar-tan-toe/src/db/relations.ts
  apps/spar-tan-toe/src/db/schema.ts
  apps/spar-tan-toe/src/server/db/db.ts
  apps/spar-tan-toe/src/server/db/relations.ts
  apps/spar-tan-toe/src/server/db/schema.ts
  apps/spar-tan-toe/src/server/trpc/routers/games.ts
  apps/spar-tan-toe/src/server/trpc/routers/moves.ts
Due: oxlint, biome check

feat: zerops config yml
  zerops.yml
Due: oxlint

fix: eslint dependency fix
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
Due: oxlint, biome check

fix: eslint errors
  apps/spar-tan-toe/eslint.config.cjs
  apps/spar-tan-toe/src/app/app.component.ts
  apps/spar-tan-toe/src/app/components/gameboard-cell.component.ts
  apps/spar-tan-toe/src/app/core/components/header.component.ts
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
  apps/spar-tan-toe/src/app/pages/(auth).page.ts
  apps/spar-tan-toe/src/app/pages/(auth)/guards/authenticated-guard.guard.ts
  apps/spar-tan-toe/src/app/pages/(auth)/guards/unauthenticated.guard.ts
  apps/spar-tan-toe/src/app/pages/(auth)/signin.page.ts
  apps/spar-tan-toe/src/app/pages/(auth)/signup.page.ts
  apps/spar-tan-toe/src/app/pages/(home).page.ts
  apps/spar-tan-toe/src/app/pages/game.page.ts
  apps/spar-tan-toe/src/app/pages/game/[gameId].page.ts
Due: oxlint, biome check

fix: component selector changes
  apps/spar-tan-toe/src/app/pages/(home).page.ts
  apps/spar-tan-toe/src/app/pages/game.page.ts
Due: oxlint, biome check

fix: zerops fix
  zerops.yml
Due: oxlint

zerops config updates
  zerops-import-example.yml
  zerops.yml
Due: oxlint

fix missing client error
  zerops.yml
Due: oxlint

ci: fix
  zerops.yml
Due: oxlint

build: deps affecting build fix
  package.json
  pnpm-lock.yaml
  zerops.yml
Due: oxlint, biome check

fix: minor selector misspelling
  apps/spar-tan-toe/src/app/app.component.ts
Due: oxlint, biome check

ci: small change to trigger build
  apps/spar-tan-toe/src/app/app.component.ts
Due: oxlint, biome check

fix: git hook
  .lintstagedrc
Due: none

fix: removing git hook for now
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: oxlint, biome check

build: adding environment vars
  zerops.yml
Due: oxlint

ci: fix yml format
  zerops.yml
Due: oxlint

ci: updating env file to pull env vars from project
  zerops.yml
Due: oxlint

ci: removing node env var
  zerops.yml
Due: oxlint

fix: game schema to default game_status value
  apps/spar-tan-toe/src/server/db/schema.ts
Due: oxlint, biome check

fix: game_status update on game connect
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
Due: oxlint, biome check

feat: add checkForWinner
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
  apps/spar-tan-toe/src/server/db/schema.ts
  apps/spar-tan-toe/src/server/trpc/routers/games.ts
Due: oxlint, biome check

refactor: improve games router
  apps/spar-tan-toe/src/app/core/services/game-manager.service.ts
  apps/spar-tan-toe/src/server/trpc/routers/games.ts
Due: oxlint, biome check

Path conditions:
  oxlint: any of: **/*.{js,ts,css,scss,html,json,md,yml}
  biome check: any of: **/*.{js,ts,css,scss,html,json}
